@model IEnumerable<App.DataTransferObjects.StepDto>

@{
    ViewBag.Title = "Index";
}

<h2>Steps</h2>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<p>
    <a class="btn btn-primary" href="/Steps/Create">New Step</a>
</p>
<table class="table" id="StepsGrid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StepName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StepsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th></th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StepName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <img src="@item.ImagePath" style="height:50px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StepsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a class="btn btn-danger" href="/Steps/Delete?Id=@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>

</table>
<script>
    $('#StepsGrid').DataTable();
</script>